<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinum.dbinspector">

    <application>

        <!--suppress AndroidDomInspection -->
        <activity-alias
            android:name="com.infinum.dbinspector.DbInspectorActivity"
            android:enabled="false"
            android:exported="false"
            android:targetActivity="@null"
            android:taskAffinity="com.infinum.dbinspector"
            tools:node="remove" />

        <activity
            android:name="com.infinum.dbinspector.ui.databases.DatabasesActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@android:style/Theme.NoDisplay" />

    </application>

</manifest>
