.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.toolbar-text {
  padding-left: 16px;
  padding-right: 16px;
}

.toolbar-menu-spacer {
  flex: 1 1 auto;
}

.container {
  overflow-x: auto;
}

table {
  width: 100%;
}

.header {
  background-color: #bbbbbb
}

.cell {
  border-bottom: 1px dashed #9F9F9F;
  border-right: 1px dashed #9F9F9F;
  padding: 16px;
}

.alternate { background-color: #F2F2F2 }
