<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infinum.dbinspector">

    <application>

        <activity-alias
            android:name="com.infinum.dbinspector.DbInspectorActivity"
            android:enabled="true"
            android:exported="true"
            android:taskAffinity="com.infinum.dbinspector"
            android:targetActivity="com.infinum.dbinspector.ui.databases.DatabasesActivity" />

        <activity
            android:name="com.infinum.dbinspector.ui.databases.DatabasesActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.databases.edit.EditActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.schema.SchemaActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.content.table.TableActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.content.view.ViewActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.content.trigger.TriggerActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="com.infinum.dbinspector.ui.pragma.PragmaActivity"
            android:taskAffinity="com.infinum.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.infinum.dbinspector.ui.DbInspectorInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="com.infinum.dbinspector.ui.DbInspectorFileProvider"
            android:authorities="${applicationId}.com.infinum.dbinspector.provider.database"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dbinspector_filepaths" />
        </provider>

    </application>

</manifest>
