<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.dino.dbinspector">

    <application>

        <activity
            android:name="im.dino.dbinspector.ui.databases.DatabasesActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.pragma.database.EditActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.schema.SchemaActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.table.TableActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.view.ViewActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.trigger.TriggerActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <activity
            android:name="im.dino.dbinspector.ui.pragma.schema.PragmaActivity"
            android:taskAffinity="im.dino.dbinspector"
            android:theme="@style/DbInspector.BaseTheme" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="im.dino.dbinspector.ui.DbInspectorInitializer"
                android:value="androidx.startup" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider.database"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/dbinspector_filepaths" />
        </provider>

    </application>

</manifest>
