<mat-toolbar class="app-toolbar" color="primary">
  <button mat-icon-button aria-label="Github" (click)="github()">
    <mat-icon svgIcon="github"></mat-icon>
  </button>
  <div class="mat-typography toolbar-text">
    <h2>DbInspector</h2>
    <p>Databases</p>
  </div>
  <span class="toolbar-menu-spacer"></span>
  <div *ngIf="isSearching" class="search-bar">
    <div class="search-bar-icon">
      <mat-icon class="black-icon">search</mat-icon>
    </div>
    <input
      class="search-bar-input"
      type="text"
      placeholder="Enter name..."
      [(ngModel)]="searchTerm"/>
    <button mat-icon-button aria-label="Close" (click)="endSearch()">
      <mat-icon class="black-icon">close</mat-icon>
    </button>
  </div>
  <button mat-icon-button aria-label="Search" *ngIf="!isSearching" (click)="startSearch()">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" class="layout-row"
         *ngFor="let database of databases | searchFilter: searchTerm">
      <mat-card role="button" tabindex="0" class="is-focusable" (click)="showSchema(database)">
        <mat-card-title class="multiline">{{database.name}}</mat-card-title>
        <mat-card-subtitle class="subtitle">
          <h5 matLine class="centered">VERSION {{database.version}}</h5>
          <h5 matLine class="multiline centered">PATH {{database.path}}</h5>
        </mat-card-subtitle>
        <mat-card-actions>
          <button mat-icon-button aria-label="Remove" (click)="confirmDelete($event, database)">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button mat-icon-button aria-label="Edit" (click)="confirmEdit($event, database)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Copy" (click)="duplicateDatabase($event, database)">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button mat-icon-button aria-label="Download" (click)="downloadDatabase($event, database)">
            <mat-icon>download</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
